<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentFTP" version="16.0.16" targetFramework="net40" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="MicosoftReportViewerWebForms_v11" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.2012.Runtime" version="11.0.3452.0" targetFramework="net45" />
</packages>