<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ACCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <appSettings>
    <add key="DefaultBank" value="888" />
    <add key="DefaultBranch" value="000" />
    <add key="ContName" value="PBL" />
    <add key="ContNo" value="0000000" />
    <add key="PBM" value="000" />
    <add key="BBCode" value="025" />
    <add key="GovtDraft" value="33,31" />
    <add key="DemandDraft" value="15" />
    <add key="HighValue" value="500000" />
    <add key="DeleteICE" value="true" />
    <add key="DeleteIRE" value="true" />
    <add key="BenifAccLength" value="14" />
    <add key="BBStressTest" value="0" />
    <add key="Baruea" value="0" />
    <add key="BBFadAccountNo" value="57984564" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="LicServerUrl" value="http://localhost:1500/WebService/BachLicense.asmx" />
  </appSettings>
  <connectionStrings>
    <add name="accs_archiveEntities" connectionString="metadata=res://*/DAL.archive.csdl|res://*/DAL.archive.ssdl|res://*/DAL.archive.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\pmtamal\Desktop\accs_archive_31102011\accs_archive.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="accs_dbEntities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158;initial catalog=accs_db;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="accs_dbEntities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158\SQLEXPRESS;initial catalog=accs_db;persist security info=True;user id=sa;password=Admin123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="compbmdbEntities" connectionString="metadata=res://*/DAL.PBMSearch.csdl|res://*/DAL.PBMSearch.ssdl|res://*/DAL.PBMSearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158\SQLEXPRESS;initial catalog=compbmdb;user id=sa;password=Admin123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="T24CbsProviderProxyEntities" connectionString="metadata=res://*/DAL.T24.T24CbsProviderProxy.csdl|res://*/DAL.T24.T24CbsProviderProxy.ssdl|res://*/DAL.T24.T24CbsProviderProxy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158;initial catalog=accs_db;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MBLCBSAccountEntities" connectionString="metadata=res://*/DAL.T24.MblCbsAccountModel.csdl|res://*/DAL.T24.MblCbsAccountModel.ssdl|res://*/DAL.T24.MblCbsAccountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.225.158;initial catalog=MBLCBSAccount;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <remove name="Documentation" />
      </protocols>
    </webServices>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <!--<sessionState mode="InProc" cookieless="false" timeout="500" />-->
    <sessionState mode="SQLServer" cookieless="false" timeout="120" sqlConnectionString="Data Source=192.168.225.158;User ID=sa;Password=123456;" allowCustomSqlDatabase="true" />
    <!--<sessionstate mode="SQLServer" timeout="20" allowcustomsqldatabase="true" sqlconnectionstring="Data Source=192.168.225.158;User ID=sa;Password=123456;" cookieless="false"/>-->
    <!--<sessionstate mode="SQLServer" timeout="20" allowcustomsqldatabase="true" sqlconnectionstring="Data Source=192.168.225.158;User ID=sa;Password=123456;" cookieless="false"/>-->
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <ACCS.Properties.Settings>
      <setting name="ACCS_BachLicense_BACHLicense" serializeAs="String">
        <value>http://localhost:1500/WebService/BACHLicense.asmx</value>
      </setting>
    </ACCS.Properties.Settings>
  </applicationSettings>
</configuration>